/*Convert to old bootstrap breakpoint values*/
$screen-xs-min : map-get($grid-breakpoints, "xs");
$screen-sm-min : map-get($grid-breakpoints, "sm");
$screen-md-min : map-get($grid-breakpoints, "md");
$screen-lg-min : map-get($grid-breakpoints, "lg");
$screen-xl-min : map-get($grid-breakpoints, "xl");
$screen-xxl-min : map-get($grid-breakpoints, "xxl");

$screen-xs-max : $screen-sm-min - 1;
$screen-sm-max : $screen-md-min - 1;
$screen-md-max : $screen-lg-min - 1;
$screen-lg-max : $screen-xl-min - 1;
$screen-xl-max : $screen-xxl-min - 1;

$container-sm-desktop : map-get($container-max-widths, "sm");
$container-md-desktop : map-get($container-max-widths, "md");
$container-lg-desktop : map-get($container-max-widths, "lg");
$container-xl-desktop : map-get($container-max-widths, "xl");
$container-xxl-desktop : map-get($container-max-widths, "xxl");

/*
* Header settings
*/
$navbar-height: 70px;
$header-height-sm: 115px;
$header-height-md: 115px;
$header-height-lg: 225px;
$header-height-xl: 225px;
$header-height-xxl: 225px;

$header-bg-color: rgba(0,0,0,0.2);
$header-txt-color: #fff;


/*
* Footer settings
*/
$footer-mob-height: 400px;
$footer-height: 200px;
$footer-bg-color: $cyan;
$footer-txt-color: #fff;

$page-margin: $grid-gutter-width;






@mixin center-column( $center-column-width: $screen-md-min ) {
	max-width: $center-column-width;
	margin-right: auto;
	margin-left: auto;
}
.center-column{
	@include center-column();
}

@mixin fullwidth-container($bg-color:#ECECE7){
	margin-left: calc(-100vw / 2 + 100% / 2);
    margin-right: calc(-100vw / 2 + 100% / 2);
    max-width: 100vw;
	overflow-x: visible;
	overflow-y: hidden;
	padding-right: $grid-gutter-width;
    padding-left: $grid-gutter-width;
	background-color: $bg-color;
}
.fullwidth-container{
	@include fullwidth-container();
}

@mixin sharpfont{
	text-rendering:optimizeLegibility;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}

.btn{
	text-decoration: none;
}