body{
    @include sharpfont;
    font-weight: 400;
    max-width: 100%;
    // overflow: hidden;
}
h1{
    font-family: FraktionSans;
}
img{
    max-width: 100%;
}



/*Adobe fonts*/
/*
Lato Regular
font-family: lato, sans-serif;
font-weight: 400;
font-style: normal;

Lato Italic
font-family: lato, sans-serif;
font-weight: 400;
font-style: italic;

Lato Bold Italic
font-family: lato, sans-serif;
font-weight: 700;
font-style: italic;


Lato Bold
font-family: lato, sans-serif;
font-weight: 700;
font-style: normal;



Lato Medium
font-family: lato, sans-serif;
font-weight: 500;
font-style: normal;

Lato Medium Italic
font-family: lato, sans-serif;
font-weight: 500;
font-style: italic;

Lato Semibold
font-family: lato, sans-serif;
font-weight: 600;
font-style: normal;

Lato Semibold Italic
font-family: lato, sans-serif;
font-weight: 600;
font-style: italic;



*/
