#back-to-top{
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
	text-decoration: none;
	.arrow-up{
		margin-top: -3px;
		width: 12px;
	}
	@media (min-width: $screen-xl-min) {
		font-size: 21px;
	}
}

.article-main-content{
	img{
		margin-bottom: $paragraph-margin-bottom;
	}
}

.back-to-parent{
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
	text-decoration: none;
	.arrow-up{
		transform: rotate(-90deg);
		margin-top: -3px;
		width: 12px;
	}
	@media (min-width: $screen-xl-min) {
		font-size: 21px;
	}
}

