#doc{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}
	#site-header{
		flex: 0 1 auto;
		// height: $header-height-sm;
		// @media ( min-width: $screen-md-min ) {
		// 	height: $header-height-md;
		// }
		// @media ( min-width: $screen-lg-min ) {
		// 	height: $header-height-lg;
		// }
		// @media ( min-width: $screen-xl-min ) {
		// 	height: $header-height-xl;
		// }
		// @media ( min-width: $screen-xxl-min ) {
		// 	height: $header-height-xxl;
		// }
		// border: 1px solid red;

	}
		#site-header-inner{
			@extend .container-md;
			padding-left: $page-margin;
			padding-right: $page-margin;
		}


	#page-container{
		flex: 1 1 auto; 
	}
		#page-container-inner{
			@extend .container-md;
			padding-left: $page-margin;
			padding-right: $page-margin;		
			// border: 1px dotted $gray-300;
		}


	#site-footer{
		flex: 0 1 auto; 
	}
		#site-footer-inner{
			@extend .container-md;
			padding-left: $page-margin;
			padding-right: $page-margin;
		}

		




