#doc{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}
	#site-header{
		flex: 0 1 auto;
	}
		#site-header-inner{
			@extend .container-md;
		}


	#page-container{
		flex: 1 1 auto; 
	}
		#page-container-inner{
			@extend .container-md;
		}


	#site-footer{
		flex: 0 1 auto; 
	}
		#site-footer-inner{
			@extend .container-md;
		}

		




