.work{

	.page-container-inner{
		padding-top: 40px;

}
	.work-items{
		display: flex;
		.module-work-item{
			margin-right: 0px;
			padding-bottom: 30px;
		}
		@media (max-width: $screen-xs-max) {
			flex-direction: column;
			margin-left: -$page-margin;
			margin-right: -$page-margin;
			.module-work-item{
				position: relative;
				z-index: -1;
				margin-right: 0px;
				width: 100%;
				padding-left: $page-margin;
				padding-right: $page-margin;
				background-color: $dugg;
				display: flex;
				.module-work-item-inner{
					position: relative;
					z-index: 2;
					flex:0 0 70%;
				}
				&:nth-child(even){
					justify-content: flex-end;
					.module-work-item-inner{
						align-self: flex-end;
					}
				}
				&:first-child{
					&::before{
						content: '';
						position: absolute;
						z-index: 1;
						left: 0px;
						right: 0px;
						top: 0px;
						height: (230px/2);
						background-color: $body-bg;
					}
				}
				&:last-child{
					background-color: transparent;
					&::before{
						content: '';
						position: absolute;
						z-index: 1;
						left: 0px;
						right: 0px;
						top: 0px;
						height: (230px/2);
						background-color: $dugg;
						// border: 1px solid red;
					}
				}
			}
		}
	}
	
	@media (min-width: $screen-sm-min) {
		.work-items{
			flex-direction: row;
			flex-wrap: wrap;

			$gutter: 30px;
			margin-left:-$gutter/2;
			margin-right:-$gutter/2;
			
			.module-work-item{
				// border: 1px solid red;
				padding: 0 $gutter/2 0 $gutter/2;
				flex: 1 0 50%;
				width: 50%;
				margin: 0;
				margin-bottom: $gutter;
				
			}
			&:not(.filtered) .module-work-item:nth-child(7){
				flex: 0 0 100%;
				width: 100%;
			}
		}
		
	}
	@media (min-width: $screen-md-min) {
		.work-items{
			$gutter: 60px;
			margin-left:-$gutter/2;
			margin-right:-$gutter/2;
			
			.module-work-item{
				padding: 0 $gutter/2 0 $gutter/2;
				flex: 1 0 50%;
				margin-bottom: $gutter;
			}
		}	
	}
	@media (min-width: $screen-lg-min) {
		.work-items{
			$gutter: 60px;
			margin-left:-$gutter/2;
			margin-right:-$gutter/2;
			
			.module-work-item{
				// border: 1px solid red;
				padding: 0 $gutter/2 0 $gutter/2;
				flex: 0 0 33.3%;
				width: 33.3%;
				margin-bottom: $gutter;
				
			}
			&:not(.filtered) .module-work-item:nth-child(7),
			&:not(.filtered) .module-work-item:nth-child(8){
				flex: 0 0 50%;
				width: 50%;
			}
		}	
	}


}

#filter-items{
	&[data-animating="animating"]{
		animation: fadein 1s;
	}
	.module-work-item,
	.person{
		&[data-hidden="false"]{
			//
		}
		&[data-hidden="true"]{
			display: none;
		}
	}
}



.work-view-more{
	text-align: center;
	padding-bottom: 60px;
	padding-top: 20px;
}

body.night-mode{


	
}