.module{

}

.module-sm-padd{
	padding-top: 20px;
	padding-bottom: 20px;
}
.module-sm-padd-top{
	padding-top: 20px;
}
.module-sm-padd-bottom{
	padding-bottom: 20px;
}


.module-md-padd{
	padding-top: 60px;
	padding-bottom: 60px;
}
.module-md-padd-top{
	padding-top: 60px;
}
.module-md-padd-bottom{
	padding-bottom: 60px;
}


.module-lg-padd{
	padding-top: 100px;
	padding-bottom: 100px;
}
.module-lg-padd-top{
	padding-top: 100px;
}
.module-lg-padd-bottom{
	padding-bottom: 100px;
}


