.module-work{
	@include fullwidth-container(); 

	display: flex;
	position: relative;
	justify-content: center;
	// display: block;
	// border: 100px solid red;

	.module-work-inner{
		margin-left: -$page-margin;
		margin-right: -$page-margin;
		padding-left: $page-margin;
		padding-right: $page-margin;
		@extend .container-md;
		position: relative;
		// margin-left: 0px;
		padding-top: 20px;
		padding-bottom: 20px;
	}
		.module-work-title{
			font-weight: 700;
			font-size: $h4-font-size;
			margin-bottom: $paragraph-margin-bottom;
			a{
				color: $bregne;
			}
		}


		.module-work-items{
			display: flex;
			flex-wrap: nowrap;
			overflow-x: auto;
			-webkit-overflow-scrolling: touch;
			margin-left: -$page-margin;
			margin-right: -$page-margin;
			padding-left: $page-margin;
			padding-right: $page-margin;
			padding-bottom: $grid-gutter-width;
			
			&::-webkit-scrollbar {
				// display: none;
			}

			//Hack for å få margin right på siste element på mobil
			&:after{
				content: ' ';
				display: block;
				width: $page-margin;
				border-left: 1px solid transparent;
			}
		}
			



	.module-work-readmore{}
	@media (min-width: $screen-md-min) {
		
		// margin: $grid-gutter-width 0 $grid-gutter-width 0;
		padding-left: 0;
		padding-right: 0;
			
		
		.module-work-inner{
			// border: 1px dotted purple;
			margin-left: 0;
			margin-right: 0;
			padding: 125px $grid-gutter-width 125px $grid-gutter-width;
			
			.module-work-title{
				margin-bottom: 70px;
			}
		
			.module-work-items{
				display: flex;
				flex-wrap: wrap;
				justify-content: flex-start;
				max-width: 100%;
				margin: 0;
				padding: 0;
				overflow-x: hidden;
				&:after{
					content: none;
					display: none;
				}
			}
		}
	}
	



}



/*
Styling of items
*/
.module-work-item{
	width: 225px;
	margin-right: $grid-gutter-width;
	flex: 0 0 225px;
	picture{
		display: block;
		margin-bottom: $paragraph-margin-bottom;
	}
	
	.module-work-item-title{
		a{
			color: $txt-color;
		}
	}

	.module-work-introTxt{	}

	.module-work-readmore{
		padding-top: 10px;
		font-size: $font-size-sm;
		text-align: center;
	}

	@media (min-width: $screen-md-min) {
		width: 30%;
		flex: 0 0 30%;
		margin:  0 0 35px 5%;
		&:nth-child(3n + 1){
			margin-left: 0;
		}
	}

	@media (min-width: $screen-xxl-min) {
		.module-work-item-title{
			font-size: $h2-font-size;
		}
		.module-work-introTxt{
			font-size: $font-size-lg;
		}
	}
}




.module-work-fagartikler{
	background-color: $dugg;
	
}




.module-work-tags{
	display: flex;
	flex-wrap: wrap;
	padding: 0;

	margin-bottom: $paragraph-margin-bottom;
	list-style-type: none;
	list-style-position: inside;
	li{
		font-family: FraktionSans;
		font-size: 16px;
		color: $body-color;
		text-decoration: none;
		&:after{
			content: '\00a0';
		}
		
		&+li:before{
			content: '•\00a0';
		}
		a{
			color: $body-color;
			text-decoration: none;
		}
	}
}

body.night-mode{
	.module-work-title{
		a{
			color: $spire-2;
		}
	}
	.module-work-item-title{
		a{
			color: $spire-2;
		}
	}

	.module-work-tags{
		li{
			color: $spire-3;
			a{
				color: $spire-3;
			}
		}
	}
	.module-work-fagartikler{
		background-color: darken($furu, 5%);
		
	}
}