.module{

}

.module-sm-padd{
	padding-top: 20px;
	padding-bottom: 20px;
}

.module-md-padd{
	padding-top: 60px;
	padding-bottom: 60px;
}

.module-lg-padd{
	padding-top: 100px;
	padding-bottom: 100px;
}