.page{
	
	@media ( max-width: $screen-sm-max ) {
		.article-header{
			display: flex;
			flex-direction: column;
			.featured-image{
				margin-bottom: $paragraph-margin-bottom;
				margin-left: -$page-margin;
				margin-right: -$page-margin;
			}
		
			.lead{
				order: 2;
				margin-bottom: $paragraph-margin-bottom;
				font-size: 19px;
				font-weight: normal;
			}

		}
	}
	
}	


.page-container-inner{
	padding-top: 40px;
	// border: 1px solid red;
}


.article-header:not(.full-width){
	margin-bottom: 30px;
	@media (min-width: $screen-xl-min) {
		h1, .lead{
			width: 58.33333%;
		}
	}
}
.lead{
	// max-width: 800px;
	@media (min-width: $screen-xl-min) {
		margin-bottom: 80px;
	}
}