.page{
	.article-header{
		margin-bottom: 30px;
	}
	.lead{
		max-width: 800px;
		margin-bottom: 80px;
	}
	@media ( max-width: $screen-sm-max ) {
		.article-header{
			display: flex;
			flex-direction: column;
			.featured-image{
				margin-bottom: $paragraph-margin-bottom;
				margin-left: -$page-margin;
				margin-right: -$page-margin;
			}
		
			.lead{
				order: 2;
				margin-bottom: $paragraph-margin-bottom;
				font-size: 19px;
				font-weight: normal;
			}

		}
	}
	
}	


.page-container-inner{
	padding-top: 40px;
	// border: 1px solid red;
}

