body.night-mode{
	color: $body-bg;
	background-color: $furu;
	#site-header{}
	#spire-logo{
		path{
			fill: $body-bg;
		}
		&:hover{
			path{
				fill: $furu;
			}
		}
	}
	#main-menu-toggle{
		color: $body-bg;
		span{

			border-top-color: $body-bg;
			border-bottom-color: $body-bg;
			&::after{
				background-color: $body-bg;
			}
		}
	}
	#site-footer{
		background-color: darken($dark-green, 5%);
		color: $spire-2;
		@include sharpfont;
		#footer-title {
			color: $light-green;
		}
		a{
			color: $light-green;
		}
		#spire-symbol{
			path{
				fill: $spire;
			}
		}
		#footer-newsletter{
			color: $spire;
		}
	}

	h1{
		color: $spire;
	}
	a:not(.btn){
		color: $spire-2;
	}

		#back-to-top{
			// color: pink;
			path{
				fill: $spire-2;
			}
		}

		.back-to-parent{
			
			.arrow-up{}
			.arrow-up-cls{
				fill: $spire-2;
			}
			
		}

}