body.night-mode{
	color: $body-bg;
	background-color: $dark-green;
	#site-header{

		background-color: $dark-green;

	}
	#spire-logo{
		path{
			fill: $body-bg;
		}
		&:hover{
			path{
				fill: $dark-green;
			}
		}
	}
	#main-menu-toggle{
		color: $body-bg;
		span{
			border-top-color: $body-bg;
			border-bottom-color: $body-bg;
			&::after{
				background-color: $body-bg;
			}
		}
	}
	#site-footer{
		background-color: $dark-green;
		@include sharpfont;
		a{
			color: $light-green;
		}
		#spire-symbol{
			path{
				fill: $green;
			}
		}
	}
}