<footer id="site-footer">
	<div id="site-footer-inner">
		<div id="footer-contact-wrapper">
			<div class="footer-cont-col-100">
				<p id="footer-title">Kontakt</p>
				<p><a href="mailto:hei@spirekommunikasjon.no">hei@spirekommunikasjon.no</a></p>
			</div>
			<div class="footer-cont-col-50">
				<ul class="footer-menu">
					<li><a href="#" >Våre avdelinger</a></li>
					<li><a href="#" >Folka i Spire</a></li>
					<li><a href="#" >Om oss</a></li>
					<li id="footer-ledig-stilling"><a href="#" >Ledig stilling</a></li>
				</ul>
			</div>
			<div class="footer-cont-col-50">
				<ul class="footer-menu">
					<li><a href="#" >Facebook</a></li>
					<li><a href="#" >Instagram</a></li>
					<li><a href="#" >LinkedIn</a></li>
				</ul>
				<ul class="footer-menu">
					<li><a href="#" >Personvern</a></li>
				</ul>
			</div>
		</div>


		<div id="footer-newslt-symbol-wrap">
			<!--=include logo-symbol.svg -->
			<div id="footer-newsletter">
				<p>Få faglig påfyll og nyheter fra oss en gang i måneden</p>
				<div><a id="footer-newsletter-link" href="nyhetsbrev.html">Meld deg på nyhetsbrev</a></div>
			</div>
		</div>

	</div>
</footer>