<!doctype html>
<html class="no-js" lang="nb-NO">
<head>
    <meta charset="utf-8">
    <title>Spire Kommunikasjon AS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <link rel="apple-touch-icon" href="assets/img/icon.png?f">
    <link rel="icon" type="image/png" href="assets/img/icon.png?f"/>
    <link rel="stylesheet" href="https://use.typekit.net/pwy0ifh.css">
  
    <link rel="stylesheet" href="assets/css/style.min.css">
    <script>
        var d = new Date();
        var t = d.getTime();
        document.write('<script type="text/javascript" src="assets/js/script.min.js?c='+t+'" defer><\/script>');
    </script>
    <!-- <script src="assets/js/script.min.js" defer></script> -->
    <script src="https://kit.fontawesome.com/1f1f0cd021.js" crossorigin="anonymous"></script>

</head>