<nav id="main-menu-wrapper">
	<div class="main-menu-inner">


        <a id="main-menu-close" class="main-menu-toggle" href="#">
            <span>Lukk</span>
        </a>

        
        <div class="main-menu-inner2">
            <ul id="main-menu" class="menu">
                <li class="menu-item menu-item-tjenester">
                    <a href="tjenester.html"><span>Tjenester</span></a>
                </li>
                <li class="menu-item menu-item-tjenester">
                    <a href="arbeid.html"><span>Arbeid</span></a>
                </li>
                <li class="menu-item menu-item-home">
                    <a href="om-spire.html"><span>Om Spire</span></a>
                </li>
                <li class="menu-item menu-item-kontakt-oss">
                    <a href="kontakt-oss.html"><span>Kontakt</span></a>
                </li>                
            </ul>
        </div>
    </div>
</nav>