<nav id="main-menu-wrapper" role="navigation" aria-label="Main Menu">
	<div class="main-menu-inner">
        <div class="main-menu-inner2">
            <ul id="main-menu" class="menu">
                <li class="menu-item menu-item-home">
                    <a href="index.html"><span>Hjem</span></a>
                </li>
                <li class="menu-item menu-item-tjenester">
                    <a href="tjenester.html"><span>Tjenester</span></a>
                </li>
                <li class="menu-item menu-item-kontakt-oss">
                    <a href="kontakt-oss.html"><span>Kontakt oss</span></a>
                </li>                
            </ul>
        </div>
    </div>
</nav>