<section class="module-two-col-un_even">
	<div class="module-two-col-un_even-inner">

		<article class="item item-one">
			<div class="item-img-wrap item-one-img-wrap">
				<img 
				srcset="content-images/kreativ-workshop-540x540.jpg,
				content-images/kreativ-workshop-1080x1080.jpg 2x"
				src="content-images/kreativ-workshop-540x540.jpg" alt="" />
			</div>
			<h2 class="item-title">Vil du ta en kaffeprat?</h2>
			<p><a href="kontakt-oss.html" btn btn-secondary>Ta kontakt med en av våre spirer</a></p>
			
		</article>
		
		<article class="item item-two">
			<div class="item-img-wrap item-two-img-wrap">
				<img 
				srcset="content-images/pult-540x540.jpg,
				content-images/pult-1080x1080.jpg 2x"
				src="content-images/pult-540x540.jpg" alt="" />
			</div>
			<h2 class="item-title">Vil du jobbe hos oss?</h2>
			<p>Vi er alltid interessert i å bli kjent med nye spirer som dyrker god design</p>
			<a href="#" class="btn btn-secondary">Fortell oss hvem du er</a>
		</article>

		

	</div>
</section>