

			<article class="module-work-item referanse fagartikkel">
				<div class="module-work-item-inner">
					<a href="fagartikkel.html" title="Cupido" rel="bookmark">		
						<picture>
							<source media="(max-width: 719px)" srcset="content-images/vr-1080x1080.jpg" height="540" width="540">
							<source media="(min-width: 720px)" srcset="content-images/vr-1920x1080.jpg"  height="1920" width="1080">
							<img src="content-images/vr-1080x1080.jpg" alt="Cupido">
						</picture>
					</a>
					<ul class="work-tags module-work-tags">
						<li>Referanse</li>
						<li>Fagartikkel</li>
					</ul>
					<h3 class="module-work-item-title"><a href="fagartikkel.html" title="VR" rel="bookmark">Hva er AR og VR og hva kan det brukes til?</a></h3>
					<p class="module-work-introTxt">En kort intro som enkelt tar for seg evt. Kunde, problemstilling eller resultat.</p>
				</div>
			</article>
