

			<article class="module-work-item nyhetsbrev fagartikkel">
				<div class="module-work-item-inner">
					<a href="fagartikkel.html" title="Nyhetsbrev" rel="bookmark">		
						<picture>
							<source media="(max-width: 719px)" srcset="content-images/nyhetsbrev-1080x1080.jpg" height="540" width="540">
							<source media="(min-width: 720px)" srcset="content-images/nyhetsbrev-1920x1080.jpg"  height="1920" width="1080">
							<img src="content-images/nyhetsbrev-1080x1080.jpg" alt="Nyhetsbrev">
						</picture>
					</a>
					<ul class="work-tags module-work-tags">
						<li>Nyhetsbrev</li>
						<li>Fagartikkel</li>
					</ul>
					<h3 class="module-work-item-title"><a href="fagartikkel.html" title="VR" rel="bookmark">Nyhetsbrev</a></h3>
					<p class="module-work-introTxt">En kort intro som enkelt tar for seg evt. Kunde, problemstilling eller resultat.</p>
				</div>
			</article>
