

			<article class="module-work-item visuell-identitet nettside">
				<div class="module-work-item-inner">
					<a href="referanse.html" title="Cupido" rel="bookmark">		
						<picture>
							<source media="(max-width: 719px)" srcset="content-images/ibolig-540x540.jpg" height="540" widyh="540">
							<source media="(min-width: 720px)" srcset="content-images/ibolig-1920x1080.jpg"  height="1920" widyh="1080">
							<img src="content-images/ibolig-1920x1080.jpg" alt="iBolig">
						</picture>
					</a>
					<ul class="work-tags module-work-tags">
						<li>Visuell identitet</li>
						<li>Nettside</li>
					</ul>
					<h3 class="module-work-item-title"><a href="referanse.html" title="Cupido" rel="bookmark">Fra Nordbohus til i&#8209;Bolig</a></h3>
					<p class="module-work-introTxt">EEn kort intro som enkelt tar for seg evt. Kunde, problemstilling eller resultat.</p>
				</div>
			</article>
