

			<article class="module-work-item design nettside referanse nyhetsbrev">
				<div class="module-work-item-inner">
					<a href="referanse.html" title="Cupido" rel="bookmark">		
						<picture>
							<source media="(max-width: 719px)" srcset="content-images/cupido1-square.png" height="540" width="540">
							<source media="(min-width: 720px)" srcset="content-images/cupido1.png"  height="1920" width="1080">
							<img src="content-images/cupido1.png" height="960" width="540" alt="Cupido">
						</picture>
					</a>
					<ul class="work-tags module-work-tags">
						<li>Visuell identitet</li>
						<li>Nettside</li>
					</ul>
					<h3 class="module-work-item-title"><a href="referanse.html" title="Cupido" rel="bookmark">	Cupido</a></h3>
					<p class="module-work-introTxt">En kort intro som enkelt tar for seg evt. Kunde, problemstilling eller resultat.</p>
				</div>
			</article>
