<!--=include modules/head.html --> 

<body id="page-body" class="work">
	<div id="doc">
		<!--=include modules/skip-links.html --> 

		<!--=include modules/site-header.html -->
		<main id="page-container" role="main">
			<div id="page-container-inner" >
				
				<h1>Vårt arbeid</h1>
				<p class="lead">Noe lengre ingress som forklarer litt mer spisset, hvis teksten over er litt for svende og utydelig.</p>
				
				<!--Script kun for frontend-->
				<script>
					document.addEventListener('DOMContentLoaded', () => {
						var triggers    = document.getElementsByClassName('work-quick-filter-btn');
						Array.from(triggers).forEach(function(element) {
							element.addEventListener('click', (event) => {
								event.preventDefault();
								var state = event.target.getAttribute('aria-selected');
								console.log(typeof state);
								if( state === 'true' ){
									event.target.setAttribute( 'aria-selected', 'false' );
								}else{
									event.target.setAttribute( 'aria-selected', 'true' );
								}
								event.target.blur( );
							});
						});
					});
				</script>
				<!--Script kun for frontend-->


				<nav class="work-filter">
					<div class="work-filter-title">Hurtigfilter</div>
					<ul class="work-quick-filter">
						<li><a href="#" class="work-quick-filter-btn" aria-selected="false"><i class=""></i>Referanser</a></li>
						<li><a href="#" class="work-quick-filter-btn" aria-selected="false">Fagartikler</a></li>
						<li><a href="#" class="work-quick-filter-btn" aria-selected="false">Visuell identitet</a></li>
						<li><a href="#" class="work-quick-filter-btn" aria-selected="false">Nettside</a></li>
						<li><a href="#" class="work-quick-filter-btn" aria-selected="false">Foto</a></li>
						<li><a href="#" class="work-quick-filter-btn" aria-selected="false">Kommunikasjonsplan</a></li>
						<li><a href="#" class="work-quick-filter-btn" aria-selected="false">Design</a></li>
					</ul>
					
				</nav>

					<div class="work-items">
			
						<!--=include modules/module-work-item-cupido.html -->
			
						<!--=include modules/module-work-item-ibolig.html -->
			
						<!--=include modules/module-work-item-jessheimdagene.html -->
			
						<!--=include modules/module-work-item-cupido.html -->
			
						<!--=include modules/module-work-item-ibolig.html -->
			
						<!--=include modules/module-work-item-jessheimdagene.html -->

						<!--=include modules/module-work-item-cupido.html -->
			
						<!--=include modules/module-work-item-ibolig.html -->
			
						<!--=include modules/module-work-item-jessheimdagene.html -->
			
						<!--=include modules/module-work-item-cupido.html -->
			
						<!--=include modules/module-work-item-ibolig.html -->
				
					</div>
					<div class="work-view-more"><a href="#">Se flere</a></div>

				<!--=include modules/module-newsletter.html -->


				<a id="back-to-top" href="#" class="back-to-top" role="button"> 
					<!--=include ../assets/img/arrow-up.svg --> 
					Tilbake til toppen </a>

			</div>
		</main>

		<!--=include modules/footer.html -->
	</div>
</body>
</html>


