<!--=include modules/head.html --> 

<body id="page-body" class="work">
	<div id="doc">
		<!--=include modules/skip-links.html --> 

		<!--=include modules/site-header.html -->
		<main id="page-container" role="main">
			<div id="page-container-inner" >
				<header class="article-header">
					<h1>Vårt arbeid</h1>
					<p class="lead">Noe lengre ingress som forklarer litt mer spisset, hvis teksten over er litt for svende og utydelig.</p>
				</header>

				<nav class="work-filter">
					<div class="work-filter-title">Hurtigfilter</div>
					<ul class="quick-filter work-quick-filter">
						<li><a href="#" class="work-quick-filter-btn" data-name="referanse" aria-selected="false"><i class=""></i>Referanser</a></li>
						<li><a href="#" class="work-quick-filter-btn" data-name="fagartikkel" aria-selected="false">Fagartikler</a></li>
						<li><a href="#" class="work-quick-filter-btn" data-name="visuell-identitet" aria-selected="false">Visuell identitet</a></li>
						<li><a href="#" class="work-quick-filter-btn" data-name="nettside" aria-selected="false">Nettside</a></li>
						<li><a href="#" class="work-quick-filter-btn" data-name="nyhetsbrev" aria-selected="false">Nyhetsbrev</a></li>
						<li><a href="#" class="work-quick-filter-btn" data-name="design" aria-selected="false">Design</a></li>
					</ul>
				</nav>

				<div id="filter-items" class="work-items">
		
					<!--=include modules/module-work-item-cupido.html -->
		
					<!--=include modules/module-work-item-ibolig.html -->
		
					<!--=include modules/module-work-item-jessheimdagene.html -->
		
					<!--=include modules/module-work-item-vr.html -->
		
					<!--=include modules/module-work-item-nyhetsbrev.html -->
		
					<!--=include modules/module-work-item-jessheimdagene.html -->

					<!--=include modules/module-work-item-cupido.html -->
		
					<!--=include modules/module-work-item-ibolig.html -->

					<!--=include modules/module-work-item-jessheimdagene.html -->

					<!--=include modules/module-work-item-cupido.html -->
		
					<!--=include modules/module-work-item-ibolig.html -->
		
				</div>
				<div class="work-view-more"><a href="#">Se flere</a></div>

				<!--=include modules/module-newsletter.html -->


				<a id="back-to-top" href="#" class="back-to-top" role="button"> 
					<!--=include ../assets/img/arrow-up.svg --> 
					Tilbake til toppen </a>

			</div>
		</main>

		<!--=include modules/footer.html -->
	</div>
</body>
</html>


