<!--=include modules/head.html --> 

<body id="page-body" class="page">
	<div id="doc">
		<!--=include modules/skip-links.html --> 

		<!--=include modules/site-header.html -->
		<main id="page-container" role="main">
			<div id="page-container-inner" >
				<a href="#" class="back-to-parent" role="button"> 
					<!--=include ../assets/img/arrow-up.svg --> 
					 Tilbake</a>
				<article>
					<header class="article-header">
						<h1>Nyhetsbrev som en del av markedsføringen</h1>
						<p class="lead">Er du av den oppfatning at e-post og nyhetsbrev er gammeldags og at ingen bruker det lenger? Tenk om igjen.</p>
						
						<div class="article-meta">
							<div class="author">Av <a href="anders-fjeld.html" rel="author">Anders Fjeld</a></div>
							<time itemprop="dateCreated datePublished" datetime="2020-08-31">31.08.2020</time>
						</div>
						<div class="featured-image">
							<img src="content-images/nyhetsbrev-1920x1080.jpg" alt="Magasin for Jessheimdagene" />
						</div>

					</header>
					<div class="article-main-content">

						<div class="module module-md-padd center-column">
							<h2>Bør jeg sende nyhetsbrev?</h2>
							<p>Svaret på det er ja! Med e-post kan du kommunisere direkte med kundene dine og du kan tilpasse og skreddersy nyhetsbrevet med relevant innhold som passer akkurat til din mottaker.</p>
							<p>Ønsker du å selge noe, er e-post den kanalen flest folk ønsker å få tilbud gjennom. Gjennom en undersøkelse fra Marketing Sherpa svarte 72% av de spurte at de ville ha tilbud gjennom e-post. For sosiale medier var tallet under 20%. </p>
							<p>Faktisk er grunnen til at mange abonnerer på nyhetsbrev, å motta tilbud fra nettopp deg. 
							</p>
							<h2>Når bør jeg sende ut nyhetsbrev?</h2>
							<p>Dette kan hjelpe deg å finne riktig tidspunkt:</p>
							<ul>
								<li>Når er din målgruppe tilgjengelig?</li>
								<li>Bedriftsmarkedet er mest tilgjengelig i løpet av arbeidsdagen.</li>
								<li>Konsumenter vil kanskje være mest tilgjengelig på en søndags kveld.</li>
								<li>Det blir sendt ut flest nyhetsbrev mandag formiddag.</li>
								<li>Test ulike dager og klokkeslett.</li>
								<li>Analyser.</li>
							</ul>
						</div>


						<div class="module module-image ">
							<picture>
								<source media="(max-width: 719px)" srcset="content-images/pult-1080x1080.jpg" height="540" width="540">
								<source media="(min-width: 720px)" srcset="content-images/pult-1920x1080.jpg"  height="1920" widyh="1080">
								<img src="content-images/pult-1080x1080.jpg" alt="Cupido">
							</picture>
							
						</div>

						

						<div class="article-main-content">

							<div class="module module-md-padd center-column">
								<h2>Personvernloven</h2>
								<p>Du kan ikke sende nyhetsbrev til hvem som helst. I følge personvernloven som trådte i kraft i 2018 må mottakeren selv ha meldt seg på nyhetsbrev fra deg. Du kan blant annet innhente adresser via nettsiden din eller sosiale medier. Du kan ikke kjøpe ferdige kontaktlister å sende til folk som ikke har bedt om det. </p>


								<h2>Hvordan måle resultatene av nyhetsbrev?</h2>
								<p>Følg med på detaljert statistikk over hvor mange som åpner e-posten, hvem som åpner, hvem som klikker på de ulike linkene, hvilke adresser som ikke fungerer, hvem som melder seg av etc. Dette kan være nyttig informasjon for å finne ut hva som funker og ikke funker slik at du kan tilpasse neste nyhetsbrev enda bedre.
								</p>
								<p>Jeg hjelper deg gjerne i gang med nyhetsbrev og e-postmarkedsføring. Ta kontakt med meg om du synes dette høres interessant ut. 
								</p>
							</div>

						

						



					</div>



	






					<footer>
						<article class="module module-md-padd  module-coffe-talk" itemscope itemtype="https://schema.org/Person">
							<div class="item-img-wrap">
								<img src="content-images/anders-fjeld-860x573.jpg" width="960" alt="Anders Fjeld" itemprop="image">
							</div>
							<div class="txt-wrap">
								<div class="person-info-group">
									<h2 class="person-name h2" itemprop="name">Anders fjeld</h2>
									<div itemprop="jobTitle">Daglig leder og rådgiver</div>
								</div>
								<div class="person-info-group">
									<a href="tel:004795036984" itemprop="telephone">+47 950 36 984</a>
									<div><a href="mailto:anders@spirekommunikasjon.no" itemprop="email">
										anders@spirekommunikasjon.no</a></div>
								</div>
							</div>
						</article>
					</footer>
				</article>
				<hr>
				<section class="module-work">
					<div class="module-work-inner">
						<h2 class="module-work-title">Relaterte artikler</h2>
						<div class="module-work-items">
							<!--=include modules/module-work-item-vr.html -->
							<!--=include modules/module-work-item-nyhetsbrev.html -->
							<!--=include modules/module-work-item-cupido.html -->
						</div>
					</div>
				</section>


				<a id="back-to-top" href="#" class="back-to-top" role="button"> 
					<!--=include ../assets/img/arrow-up.svg --> 
					Tilbake til toppen </a>

			</div>
		</main>

		<!--=include modules/footer.html -->
	</div>
</body>
</html>


