<!--=include modules/head.html --> 

<body id="page-body">
	<div id="doc">
		<!--=include modules/skip-links.html --> 

		<!--=include modules/site-header.html -->
		<main id="page-container" role="main">
			<div id="page-container-inner" >
				

				<div class="module-front-page-top">
					<div class="module-front-page-top-inner">
						<h2 class="module-title">Vi har bred kunnskap innen strategi, kreativitet og teknologi</h2>
						
						<div class="btn-wrap"><a href="tjenester.html" title="Våre tjenester" class="btn btn-primary btn-lg">Våre tjenester</a></div>
						<div class="snakkeboble-wrapper">
							<!--=include modules/snakkeboble.svg -->
						</div>
					</div>
				</div>


				<!--=include modules/module-work.html -->

				<section class="module-work module-work-fagartikler">
					<div class="module-work-inner">
				
						<h2 class="module-work-title">
							<a  href="referanser.html" title="Se våre referanser">Fagartikler</a>
						</h2>
						
						<div class="module-work-items">
				
							<!--=include modules/module-work-item-cupido.html -->
				
							<!--=include modules/module-work-item-cupido.html -->
				
							<!--=include modules/module-work-item-cupido.html -->
				
							<!--=include modules/module-work-item-cupido.html -->
				
							<!--=include modules/module-work-item-cupido.html -->
				
							<!--=include modules/module-work-item-cupido.html -->
				
					
						</div>
						<div class="module-work-readmore"><a href="referanser.html">Se alle våre fagartikler</a></div>
					</div>
				</section>
			

				<!--=include modules/module-two-col-un_even.html -->
				

				<!--=include modules/module-newsletter.html -->


				<a id="back-to-top" href="#" class="back-to-top" role="button"> 
					<!--=include ../assets/img/arrow-up.svg --> 
					Tilbake til toppen </a>

			</div>
		</main>

		<!--=include modules/footer.html -->
	</div>
</body>
</html>


