<!--=include modules/head.html --> 

<body id="page-body" class="page">
	<div id="doc">
		<!--=include modules/skip-links.html --> 

		<!--=include modules/site-header.html -->
		<main id="page-container" role="main">
			<div id="page-container-inner" >
				
					
				<h1>Kontakt oss</h1>
				<p class="lead">Lorem ipsumccaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<section class="module departments-wrapper">
					<h2 class="departments-title">Avdelinger</h2>
					
					<div class="departments">
						<article class="department">
							<h3 class="department-title">
								<a class="" data-bs-toggle="collapse" href="#collapseOslo" role="button" aria-expanded="false" aria-controls="collapseOslo">Oslo
								</a>
								</h3>
							<div class="collapse" id="collapseOslo">
								<address>
									<div><strong>Besøksadresse</strong>    Stortorvet 3, 0155 Oslo    <a href="#">Vis i kart</a></div>
									<div><strong>Kontaktperson</strong>    <a href="#">Einar Strømstad</a></div>
								</address>
							</div>
						</article>
						<article class="department">
							<h3 class="department-title">
								<a class="" data-bs-toggle="collapse" href="#collapseJessheim" role="button" aria-expanded="false" aria-controls="collapseJessheim">Jessheim
								</a>
								</h3>
							<div class="collapse" id="collapseJessheim">
								<address>
									<div><strong>Besøksadresse</strong>    Storgata 6, 2050 Jessheim    <a href="#">Vis i kart</a></div>
									<div><strong>Kontaktperson</strong>    <a href="#">Ole Marius Simonsen</a></div>
								</address>
							</div>
						</article>
						<article class="department">
							<h3 class="department-title">
								<a class="" data-bs-toggle="collapse" href="#collapseFlisa" role="button" aria-expanded="false" aria-controls="collapseFlisa">Flisa
								</a>
							</h3>
							<div class="collapse" id="collapseFlisa">
								<address>
									<div><strong>Besøksadresse</strong>    Kaffegata 78, 2270 Flisa    <a href="#">Vis i kart</a></div>
									<div><strong>Kontaktperson</strong>    <a href="#">Marianne Sletten</a></div>
								</address>
							</div>
						</article>
						<article class="department">
							<h3 class="department-title">
								<a class="" data-bs-toggle="collapse" href="#collapseTrysil" role="button" aria-expanded="false" aria-controls="collapseTrysil">Trysil
								</a>
							</h3>
							<div class="collapse" id="collapseTrysil">
								<address>
									<div><strong>Besøksadresse</strong>    Kaffegata 78, 2270 Flisa    <a href="#">Vis i kart</a></div>
									<div><strong>Kontaktperson</strong>    <a href="#">Marianne Sletten</a></div>
								</address>
							</div>
						</article>
					</div>

				</section>
				<section class="article-main-content section-people">
					<h2>Folka</h2>

					<nav class="filter" role="navigation">
						<div class="filter-title">Hurtigfilter</div>
						<ul class="quick-filter">
							<li><a href="#" class="quick-filter-btn" data-name="radgiver" aria-selected="false"><i class=""></i>Rådgivere</a></li>
							<li><a href="#" class="quick-filter-btn" data-name="designer" aria-selected="false">Designere</a></li>
							<li><a href="#" class="quick-filter-btn" data-name="utvikler" aria-selected="false">Utviklere</a></li>
							<li><a href="#" class="quick-filter-btn" data-name="administrasjon" aria-selected="false">Administrasjon</a></li>
							<li><a href="#" class="quick-filter-btn" data-name="produksjon" aria-selected="false">Produksjon</a></li>
							<li><a href="#" class="quick-filter-btn" data-name="lager" aria-selected="false">Lager og logistikk</a></li>
						</ul>
						
					</nav>
					<div id="filter-items" class="people-list">
						<article class="person radgiver" itemscope itemtype="https://schema.org/Person">
							<a class="person-img-wrap" href="anders-fjeld.html" >
							<img srcset="content-images/anders-fjeld-430x287.jpg 430w,
								content-images/anders-fjeld-860x573.jpg 2x"
								src="content-images/anders-fjeld-430x287.jpg"
								alt="Anders Fjeld"
								itemprop="image" />
							</a>
								<h3 class="person-name" itemprop="name"><a href="anders-fjeld.html">Anders Fjeld</a></h3>
								<span itemprop="jobTitle">Daglig leder og rådgiver</span>
								<a href="tel:004795036984" itemprop="telephone">+47 950 36 984</a>
								<div><a href="mailto:anders@spirekommunikasjon.no" itemprop="email">
								anders@spirekommunikasjon.no</a></div>

						</article>
						<article class="person radgiver" itemscope itemtype="https://schema.org/Person">
							<a class="person-img-wrap" href="ole-marius-simonsen.html" >
							<img srcset="content-images/ole-marius-simonsen-430x287.jpg 430w,
								content-images/ole-marius-simonsen-860x573.jpg 2x"
								src="content-images/ole-marius-simonsen-430x287.jpg"
								alt="Ole Marius Simonsen"
								itemprop="image" />
							</a>
								<h3 class="person-name" itemprop="name"><a href="ole-marius-simonsen.html">Ole Marius Simonsen</a></h3>
								<span itemprop="jobTitle">Rådgiver</span>
								<a href="tel:004795036984" itemprop="telephone">+47 950 36 984</a>
								<div><a href="mailto:ole.marius@spirekommunikasjon.no" itemprop="email">
								ole.marius@spirekommunikasjon.no</a></div>

						</article>
						<article class="person radgiver" itemscope itemtype="https://schema.org/Person">
							<a class="person-img-wrap" href="marianne-sletten.html" >
							<img srcset="content-images/marianne-sletten-430x287.jpg 430w,
								content-images/marianne-sletten-860x573.jpg 2x"
								src="content-images/marianne-sletten-430x287.jpg"
								alt="Marianne S. Sletten"
								itemprop="image" />
							</a>
								<h3 class="person-name" itemprop="name"><a href="marianne-sletten.html">Marianne S. Sletten</a></h3>
								<span itemprop="jobTitle">Seniorrådgiver</span>
								<a href="tel:004795036984" itemprop="telephone">+47 950 36 984</a>
								<div><a href="mailto:marianne@spiredigital.no" itemprop="email">
								marianne@spiredigital.no</a></div>

						</article>

						<article class="person designer" itemscope itemtype="https://schema.org/Person">
							<a class="person-img-wrap" href="anders-fjeld.html" >
							<img srcset="content-images/anders-fjeld-430x287.jpg 430w,
								content-images/anders-fjeld-860x573.jpg 2x"
								src="content-images/anders-fjeld-430x287.jpg"
								alt="Anders Fjeld"
								itemprop="image" />
							</a>
								<h3 class="person-name" itemprop="name"><a href="anders-fjeld.html">Anders Fjeld</a></h3>
								<span itemprop="jobTitle">Daglig leder og rådgiver</span>
								<a href="tel:004795036984" itemprop="telephone">+47 950 36 984</a>
								<div><a href="mailto:anders@spirekommunikasjon.no" itemprop="email">
								anders@spirekommunikasjon.no</a></div>

						</article>
						<article class="person designer" itemscope itemtype="https://schema.org/Person">
							<a class="person-img-wrap" href="ole-marius-simonsen.html" >
							<img srcset="content-images/ole-marius-simonsen-430x287.jpg 430w,
								content-images/ole-marius-simonsen-860x573.jpg 2x"
								src="content-images/ole-marius-simonsen-430x287.jpg"
								alt="Ole Marius Simonsen"
								itemprop="image" />
							</a>
								<h3 class="person-name" itemprop="name"><a href="ole-marius-simonsen.html">Ole Marius Simonsen</a></h3>
								<span itemprop="jobTitle">Rådgiver</span>
								<a href="tel:004795036984" itemprop="telephone">+47 950 36 984</a>
								<div><a href="mailto:ole.marius@spirekommunikasjon.no" itemprop="email">
								ole.marius@spirekommunikasjon.no</a></div>

						</article>
						<article class="person designer" itemscope itemtype="https://schema.org/Person">
							<a class="person-img-wrap" href="marianne-sletten.html" >
							<img srcset="content-images/marianne-sletten-430x287.jpg 430w,
								content-images/marianne-sletten-860x573.jpg 2x"
								src="content-images/marianne-sletten-430x287.jpg"
								alt="Marianne S. Sletten"
								itemprop="image" />
							</a>
								<h3 class="person-name" itemprop="name"><a href="marianne-sletten.html">Marianne S. Sletten</a></h3>
								<span itemprop="jobTitle">Seniorrådgiver</span>
								<a href="tel:004795036984" itemprop="telephone">+47 950 36 984</a>
								<div><a href="mailto:marianne@spiredigital.no" itemprop="email">
								marianne@spiredigital.no</a></div>

						</article>
						
					</div>

				</section>
				<footer>
					<article class="module module-join">
						
						<div class="item-img-wrap">
							<img src="content-images/spirehode-1920x1280.jpg" alt="" />
						</div>
						<div class="txt-wrap">
							<h2 class="item-title">Vil du bli en del av gjengen?</h2>
							<p>Vi er alltid interessert i å bli kjent med nye spirer som dyrker god design</p>
							<a href="kontakt-oss.html" class="btn btn-secondary">Fortell oss hvem du er</a>
						</div>
					</article>
				</footer>
				

				

				<a id="back-to-top" href="#" class="back-to-top" role="button"> 
					<!--=include ../assets/img/arrow-up.svg --> 
					Tilbake til toppen </a>

			</div>
		</main>

		<!--=include modules/footer.html -->
	</div>
</body>
</html>


