<!--=include modules/head.html --> 

<body id="page-body" class="page">
	<div id="doc">
		<!--=include modules/skip-links.html --> 

		<!--=include modules/site-header.html -->
		<main id="page-container" role="main">
			<div id="page-container-inner" >
				<article>
					<header class="article-header">
						<h1>Om Spire</h1>
						<p class="lead">Vi er en totalleverandør av kommunikasjon, uavhengig av kanal eller teknologi. Det betyr at vi starter med å finne mål og strategi, og velger kanal og teknisk løsning deretter.</p>
					</header>
					<div class="article-main-content">
						<div class="module module-md-padd row gx-5">

							<div class="module-collumn col-md">
								<p>Vi er en totalleverandør innen kommunikasjon, uavhengig av kanal eller teknologi. Det betyr at vi starter med å finne mål og strategi, og velger kanal og teknisk løsning deretter.</p>
							
								<h2>Spire-prosessen</h2>
								<p>Vår metodikk baserer seg på samarbeid. Vi har tro på at våre fagkunnskaper er enda bedre i kombinasjon med din kunnskap og kompetanse om ansatte, kunder, produkter og tjenester. Vi er så heldige å ha et bredt spekter av kunder – de mange og varierte, fra små til store - alle like viktige for oss.</p>
							</div>

							<div class="module-collumn col-md">	
								<figure>						
									<picture>
										<img src="/content-images/Hildegunn-1200x940.jpg" class="img-responsive">
									</picture>
								</figure>
							</div>

						</div>


						<div class="module module-md-padd center-column">
								
							<h2>Rom for å vokse</h2>
							<p>Noe tekst om hvordan vi utvikler oss selv og ansatte? Fint for kunder å lese i forhold til at vi holder oss oppdaterte. Lorem ipsum dolor sit amet, consectetur adipiscing elor incidt dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip roident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							<p>Hvordan er det å jobbe i Spire? <br><a href="/" title="Forside">Bla igjennom håndboken vår</a></p>
							
						</div>



						<div class="module module-md-padd row gx-5">
							<div class="module-collumn col-md">
						
								<p>				
									<picture>
										<img src="content-images/sittegruppe-1920x1280.jpg" class="img-responsive">
									</picture>
								</p>
						
							</div>
							<div class="module-collumn col-md">
								<h2>Fagområder</h2>
								<p>Ved hjelp av vår metodikk løser vi dine utfordringer og gir resultater. Tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst</p>
								<p>Vi hjelper deg med</p>
								<ul>
									<li>Strategi</li>
									<li>Kreativitet</li>
									<li>Teknologi</li>
								</ul>
						
							</div>
						</div>

						<div class="module module-md-padd center-column">
							
								<h2>Referanser</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
								<ul>
									<li><a href="referanse.html">Jessheim Storsenter</a></li>
									<li><a href="referanse.html">Obos</a></li>
									<li><a href="referanse.html">Heydi</a></li>
									<li><a href="referanse.html">Mapei</a></li>
									<li><a href="referanse.html">Trysil magasin</a></li>
								</ul>
								<p><a href="/arbeid/" title="Arbeid">Se flere referanser</a></p>
							
							
								<h2>Sertifiseringer</h2>
								<p>Våre ansatte har en rekke sertifiseringer.</p>
								<ul>
									<li>Umbraco</li>
									<li>8 sertifiseringer innenfor Google-plattformen (Jeg syns vi skal ramse opp alle de Evt. Slå noen sammen, men de bør nevnes med navn.</li>
									<li>Bing Ads</li>
									<li>Facebook Ads</li>
								</ul>
							
						</div>

						<div class="module module-md-padd">
							<img src="content-images/mac-book-1920x1080.jpg" alt ="" />
						</div>
						<div class="module module-md-padd center-column">
								
							<h2>Spire Gruppen</h2>
							<p> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip roident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							</p>
							
						</div>

						

						



					</div>
					
				</article>

				<section class="module-two-col-un_even">
					<div class="module-two-col-un_even-inner">
						<article class="item item-one">
							<div class="item-img-wrap item-one-img-wrap">
								<img 
								srcset="content-images/kreativ-workshop-540x540.jpg,
								content-images/kreativ-workshop-1080x1080.jpg 2x"
								src="content-images/kreativ-workshop-540x540.jpg" alt="" />
							</div>
							<h2 class="item-title">Vil du ta en kaffeprat?</h2>
							<p><a href="kontakt-oss.html" btn btn-secondary>Ta kontakt med en av våre spirer</a></p>
							
						</article>
					</div>
				</section>
				


				<a id="back-to-top" href="#" class="back-to-top" role="button"> 
					<!--=include ../assets/img/arrow-up.svg --> 
					Tilbake til toppen </a>

			</div>
		</main>

		<!--=include modules/footer.html -->
	</div>
</body>
</html>


