<!--=include modules/head.html --> 

<body id="page-body" class="page">
	<div id="doc">
		<!--=include modules/skip-links.html --> 

		<!--=include modules/site-header.html -->
		<main id="page-container" role="main">
			<div id="page-container-inner" >
				<article>
					<header>
						<h1>Supertorsdag</h1>
						<p class="lead">Jessheim Storsenter har gjennom hele året flere kampanjer med gode priser til sine kunder. Vi har utarbeidet et visuelt gjenkjennelig uttrykk.</p>
						
						<div class="article-meta">
							<div class="client">For Jessheim Storsenter</div>
							<ul class="work-tags module-work-tags">
								<li><a href="Visuell identitet">Visuell identitet</a></li>
								<li><a href="Nettside">Nettside</a></li>
							</ul>
						</div>

						<img 
							srcset="content-images/jessheim-magasin-960x540.jpg 480w,
             						content-images/jessheim-magasin-1920x1080.jpg 960w"
							src="content-images/jessheim-magasin-960x540.jpg"
							alt="Magasin for Jessheimdagene">

					</header>
					
					
					</div>
				</article>

					<div class="work-items">
			
						<!--=include modules/module-work-item-cupido.html -->
			
						<!--=include modules/module-work-item-ibolig.html -->
			
						<!--=include modules/module-work-item-jessheimdagene.html -->
			
						<!--=include modules/module-work-item-cupido.html -->
			
						<!--=include modules/module-work-item-ibolig.html -->
			
						<!--=include modules/module-work-item-jessheimdagene.html -->

						<!--=include modules/module-work-item-cupido.html -->
			
						<!--=include modules/module-work-item-ibolig.html -->
			
						<!--=include modules/module-work-item-jessheimdagene.html -->
			
						<!--=include modules/module-work-item-cupido.html -->
			
						<!--=include modules/module-work-item-ibolig.html -->
				
					</div>
					<div class="work-view-more"><a href="#">Se flere</a></div>

				<!--=include modules/module-newsletter.html -->


				<a id="back-to-top" href="#" class="back-to-top" role="button"> 
					<!--=include ../assets/img/arrow-up.svg --> 
					Tilbake til toppen </a>

			</div>
		</main>

		<!--=include modules/footer.html -->
	</div>
</body>
</html>


