<!--=include modules/head.html --> 

<body id="page-body" class="page">
	<div id="doc">
		<!--=include modules/skip-links.html --> 

		<!--=include modules/site-header.html -->
		<main id="page-container" role="main">
			<div id="page-container-inner" >
				<a href="#" class="back-to-parent" role="button"> 
					<!--=include ../assets/img/arrow-up.svg --> 
					 Tilbake</a>
				<article>
					<header class="article-header">
						<h1>Supertorsdag</h1>
						<p class="lead">Jessheim Storsenter har gjennom hele året flere kampanjer med gode priser til sine kunder. Vi har utarbeidet et visuelt gjenkjennelig uttrykk.</p>
						
						<div class="article-meta">
							<div class="client">For Jessheim Storsenter</div>
							<ul class="work-tags module-work-tags">
								<li><a href="Visuell identitet">Visuell identitet</a></li>
								<li><a href="Nettside">Nettside</a></li>
							</ul>
						</div>
						<div class="featured-image">
							<img 
								srcset="content-images/jessheim-magasin-960x540.jpg 960w,
										content-images/jessheim-magasin-1920x1080.jpg 1920w"
										sizes="
										(min-width: 1400px) 1272px, 
										(min-width: 1200px) 1092px, 
										(min-width: 992px) 912px,
										100vw"
								src="content-images/jessheim-magasin-960x540.jpg"
								alt="Magasin for Jessheimdagene" />
						</div>

					</header>
					<div class="article-main-content">


						<div class="module module-md-padd  module-two-col row">
							<div class="module-collumn col-md col-lg-5 order-md-2">
								<p>
									<img src="content-images/magasinforsider-960x540.jpg" alt="Magasin for Jessheimdagene" />
								</p>
								<p>
									<img src="content-images/oppslag-magasin-1920x1080.jpg" alt="Magasin for Jessheimdagene" />
								</p>
							</div>
							<div class="module-collumn col-md col-lg-7">
								<h2>Kunden i fokus</h2>
								<p>Vi vet at kundene eksponeres for mye reklame og mange inntrykk i løpet av en hel dag.</p>
								<p>Ved utformingen av Supertorsdag var det derfor viktig å legge stor vekt på:</p>
								<ul>
									<li>Tydelig og ryddig oversikt over tilbudene</li>
									<li>Å samle relevante bransjer eller tilbud.</li>
									<li>Viser butikkenes egne logoer for rask gjenkjennelighet.</li>
									<li>Bilder hjelper kunden å navigere raskt gjennom tilbudene.</li>
									<li>Visuelt lett å kjenne igjen</li>
									<li>Bakgrunnsfarge og stort klokkeslett skiller dag og natttilbud.</li>
								</ul>
							</div>
						</div>


						<div class="module module-image">
							<img 
								srcset="content-images/oppslag-magasin-wide-1300x540.jpg 1300w,
										content-images/oppslag-magasin-wide-2600x1080.jpg 2600w"
										sizes="
										(min-width: 1400px) 1272px, 
										(min-width: 1200px) 1092px, 
										(min-width: 992px) 912px,
										100vw"
								src="content-images/oppslag-magasin-wide-1300x540.jpg"
								alt="Magasin for Jessheimdagene" />
						</div>

						<div class="module module-md-padd center-column">
							<h2>Synlighet</h2>
							<p>Ulike flater, formater og xxxxx i en rød tråd. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempoehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>


						<div class="module module-md-padd  module-two-col row">
							<div class="module-collumn col-sm ">
								<figure>
									<img src="content-images/tekstilbannere-640x960.jpg"
									srcset="content-images/tekstilbannere-1280x1920.jpg 2x"
									alt="Tekstilbanner dekor i Supertorsdag profil" />
									<figcaption>Tekstilbanner dekor i Supertorsdag profil</figcaption>
								</figure>
								
							</div>
							<div class="module-collumn col-sm ">
								<figure>
									<img 
									src="content-images/handlepose-640x960.jpg"
									srcset="content-images/handlepose-1280x1920.jpg 2x" 
									alt="Gigantisk handlepose i Supertorsdag profil" />
									<figcaption>Gigantisk handlepose i Supertorsdag profil</figcaption>
								</figure>
							</div>
						</div>

						

						



					</div>
					<footer>
						<article class="module module-md-padd  module-coffe-talk">
							<div class="item-img-wrap">
								<img src="content-images/kaffeprat-ole-marius-800x600.jpg" alt="" />
							</div>
							<div class="txt-wrap">
								<h2 class="item-title">Vil du ta en kaffeprat?</h2>
								<p><a href="ole-marius.html" btn btn-secondary>Kontakt prosjektleder Ole Marius</a></p>
							</div>
						</article>
					</footer>
				</article>

				<section class="module-work">
					<div class="module-work-inner">
				
						<h2 class="module-work-title">Relaterte referanser</h2>
						
						<div class="module-work-items">
				
							<!--=include modules/module-work-item-cupido.html -->
				
							<!--=include modules/module-work-item-cupido.html -->
				
							<!--=include modules/module-work-item-cupido.html -->
					
						</div>
						<div class="module-work-readmore"><a href="referanser.html">Se alle våre referanser</a></div>
					</div>
				</section>


				<a id="back-to-top" href="#" class="back-to-top" role="button"> 
					<!--=include ../assets/img/arrow-up.svg --> 
					Tilbake til toppen </a>

			</div>
		</main>

		<!--=include modules/footer.html -->
	</div>
</body>
</html>


