<!--=include modules/head.html --> 

<body id="page-body" class="page">
	<div id="doc">
		<!--=include modules/skip-links.html --> 

		<!--=include modules/site-header.html -->
		<main id="page-container" role="main">
			<div id="page-container-inner" >
				<article>
					<header class="article-header">
						<h1>Våre tjenester</h1>
						<p class="lead">Noe lengre ingress som forklarer litt mer spisset, hvis teksten over er litt for svende og utydelig.</p>
					</header>
					<div class="article-main-content">
						<div class="module module-md-padd  module-two-col row">
							<div class="module-collumn  col-md col-xxl-7"> 
								
						
								<picture>
									<img src="content-images/mobile-phone-1875813_1920.jpeg" class="img-responsive">
								</picture>
						
								<picture>
									<img src="content-images/mobile-phone-1.jpeg" class="img-responsive">
								</picture>
						
						
						
								
								
								<h2>Løsninger som har gitt resultater:</h2>
								<p>• Hey’di økte antal salg gjennom kampanjen «blablabla» <br>• Mapei <br>• Jessheim Storsenter har xxxxxx<br>• Kunde tekst tekst prosjekt</p>
								<p><a href="/arbeid/" title="Arbeid">Se flere referanser</a></p>
						
						
								</div>
								<div class="module-collumn col-md col-xl-5 offset-xl-1 col-xxl-4"> 
								
						
						
						
								<h2>Strategi</h2>
								<p>Du vet hvor du vil, vi vet hvordan du kommer deg dit. Din kompetanse kombinert med vår fagkompetanse blir grunnlaget for et fruktbart samarbeid.</p>
								<ul>
									<li>Rådgivning</li>
									<li>Innsikt</li>
									<li>Workshop</li>
									<li>Analyse</li>
									<li>Kommunikasjonsplan</li>
									<li>Merkevareutvikling</li>
								</ul>
								
								<h2>Kreativtet</h2>
								<p>Vårt kjerneområde er kreativitet som folk har bruk for og som gir deg resultater.</p>
								<ul>
									<li> Konseptutvikling</li>
									<li> Design</li>
									<li> Innholdsproduksjon</li>
									<li> Sosiale medier</li>
									<li> Foto og video</li>
									<li> Animasjon</li>
								</ul>
								
								<h2>Teknologi</h2>
								<p>Fruktbare løsninger skapes når vi forstår kundens behov og legger til rette for en brukervennlig kundereise.</p>
								<ul>
									<li> Webutvikling</li>
									<li> Tilpassede utviklingsprosjekter</li>
									<li> Digitalt papir AR</li>
									<li> Applikasjoner</li>
									<li> Optimalisering og søk</li>
									<li> UX design og brukeropplevelse</li>
									<li> Brukervennlighet</li>
								</ul>
						
						
							</div>
						</div>

						

						



					</div>
					<footer>
						<article class="module module-md-padd  module-coffe-talk">
							<div class="item-img-wrap">
								<img src="content-images/kaffeprat-ole-marius-800x600.jpg" alt="" />
							</div>
							<div class="txt-wrap">
								<h2 class="item-title">Vil du ta en kaffeprat?</h2>
								<p><a href="ole-marius.html" btn btn-secondary>Kontakt prosjektleder Ole Marius</a></p>
							</div>
						</article>
					</footer>
				</article>

				<section class="module-work">
					<div class="module-work-inner">
				
						<h2 class="module-work-title">
							<a  href="referanser.html" title="Se våre referanser">Relaterte artikler</a>
						</h2>
						
						<div class="module-work-items">
				
							<!--=include modules/module-work-item-cupido.html -->
				
							<!--=include modules/module-work-item-cupido.html -->
				
							<!--=include modules/module-work-item-cupido.html -->
					
						</div>
						<div class="module-work-readmore"><a href="referanser.html">Se alle våre fagartikler</a></div>
					</div>
				</section>


				<a id="back-to-top" href="#" class="back-to-top" role="button"> 
					<!--=include ../assets/img/arrow-up.svg --> 
					Tilbake til toppen </a>

			</div>
		</main>

		<!--=include modules/footer.html -->
	</div>
</body>
</html>


